name: dify-ee-persistance-infra

services:
  postgres:
    image: postgres:17
    container_name: dev-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: dify
    ports:
      - "55432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: dev-redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "devpassword"]
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data

  minio:
    image: minio/minio
    container_name: dev-minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data/minio:/data

  qdrant:
    image: qdrant/qdrant
    container_name: dev-qdrant
    restart: unless-stopped
    environment:
      QDRANT__SERVICE__API_KEY: "devpassword"          # 你想设置的 API KEY
      QDRANT__SERVICE__ENABLE_API_KEY: "true"          # 开启校验
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./data/qdrant:/qdrant/storage
